:root {
  --primary-color: #{$light-primary-color};
  --secondary-color: #{$light-secondary-color};
  --background-color: #{$light-background-color};
  --text-color: #{$light-text-color};
  --link-color: #{$light-link-color};
  --button-hover-color: #{$light-button-hover-color};
  --button-text-color: #{$light-button-text-color};
  --background-blend-color: #{$light-background-blend-color};
}
