.contact-container {
    display: flex;
    gap: 1rem;
    padding: 1rem;

    .contact-details {
        width: 100%;
        padding: 1rem;
    }

    .side-container {
        min-width: 350px;
    }
}

@media screen and (max-width: 1050px) {
    .contact-container {
        flex-direction: column;
    }
}
@media screen and (max-width: 380px) {
    .blog-item-details-container {
        
        .side-container {
            min-width: 300px;
        }
    }
}